* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #020617;
    color: #e5e7eb;
    padding: 25px;
}

h2 {
    text-align: center;
    color: #a5f3fc;
    margin-bottom: 20px;
}

/* grid container */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    background-color: #0f172a;
    padding: 15px;
    margin-bottom: 30px;
}

/* grid items */
.box {
    background-color: #1e293b;
    padding: 25px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #475569;
}

/* spanning item */
.span {
    grid-column: 1 / 3;
    background-color: #155e75;
}

