* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #375fb4;
    color: #e5e7eb;
    padding: 25px;
}

h2 {
    text-align: center;
    color: #facc15;
    margin-bottom: 20px;
}

/* grid container */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px; 
    background-color: #020617;
    padding: 15px;
    margin-bottom: 30px;
}

/* grid items */
.box {
    background-color: #1f2937;
    padding: 25px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #374151;
}
