* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #020617;
    color: #e5e7eb;
    padding: 25px;
}

h2 {
    text-align: center;
    color: #67e8f9;
    margin-bottom: 20px;
}

/* grid container */
.container {
    display: grid;
    grid-template-rows: 100px auto;
    gap: 12px;
    background-color: #0f172a;
    padding: 15px;
    margin-bottom: 30px;
}

/* grid items */
.box {
    background-color: #1e293b;
    padding: 15px;
    border: 1px solid #475569;
}

