* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */
header {
    backdrop-filter: blur(60px);
    background-color: #9e9ba3;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

header h1 {
    font-size: 2.2rem;
    margin-bottom: 5px;
    font-weight: normal;
}

header .subtitle {
    font-size: 0.9rem;
    margin-bottom: 15px;
    opacity: 0.9;
}

/* Nav */
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: bold;
    font-size: 0.9rem;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Main Layout */
.main-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    background-color: #866ace;
    flex-grow: 1;
    padding: 20px;
    gap: 20px;
    overflow: hidden;
}

.sidebar {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    color: #333;
    font-size: 0.85rem;
    line-height: 1.6;

    display: flex;
    flex-direction: column;
    gap: 10px;
}


.sidebar h3 {
    margin-bottom: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #000;
}

/* Gallery Grid */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.card {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 10px;

    height: 100%;
    min-height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-title {
    color: #000;
    font-weight: bold;
    font-size: 0.9rem;
}

/* Footer */
footer {
    background-color: #0b0e0d;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.8rem;
}